.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Portfolio stylesheet */
.portfolio-main-body {
  background-color: var(--portfolio-background-color);
  color: var(--portfolio-primary-text-color);
}

.portfolio-project-card {
  background-color: var(--portfolio-navbar-background-color);
  color: var(--portfolio-primary-text-color);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio-framework-logo {
  max-height: 80px !important;
  max-width: 100%;
}

.portfolio-framework-div {
  background-color: #ffffff;
  color: var(--portfolio-secondary-text-color);
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-main-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-navbar {
  background-color: var(--portfolio-navbar-background-color);
}

.portfolio-footer {
  background-color: var(--portfolio-navbar-background-color);
}

.portfolio-link {
  background-color: transparent;
  color: var(--portfolio-primary-text-color);
}

.portfolio-link:hover {
  background-color: var(--portfolio-secondary-background-color);
  color: var(--portfolio-secondary-text-color);
}

.portfolio-face-img {
  max-height: 300px;
  max-width: 100%;
  border-radius: 30%;
}