.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Portfolio stylesheet */
.portfolio-main-body {
  background-color: var(--portfolio-background-color);
  color: var(--portfolio-primary-text-color);
}

.portfolio-project-card {
  background-color: var(--portfolio-navbar-background-color);
  color: var(--portfolio-primary-text-color);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  animation-duration: 1s;
  animation-name: animate-card-entrance;
  animation-fill-mode: backwards;

}

@keyframes animate-card-entrance {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.portfolio-framework-div {
  background-color: #ffffff;
  color: var(--portfolio-secondary-text-color);
  border: var(--portfolio-navbar-background-color) solid 2px;
  border-radius: 10%;

  height: 100%;
  padding: 20px;

  animation-duration: 1s;
  animation-name: animate-framework-div-entrance;
  animation-fill-mode: backwards;
}

.portfolio-technology-container {}

.technology-container-title {
  background: linear-gradient(90deg,
      var(--portfolio-navbar-background-color),
      #ffffff00);
  color: var(--portfolio-primary-text-color);
  font-size: 24px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio-framework-div img {
  max-height: 80px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.portfolio-knowledge-score {
  border: var(--portfolio-secondary-background-color) solid 2px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.portfolio-knowledge-score p {
  background-color: var(--portfolio-secondary-background-color);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

@keyframes animate-framework-div-entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.portfolio-homepage-profile-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;

  border-style: solid;
  border-color: var(--portfolio-navbar-background-color);
  border-width: 5px;

}

.portfolio-homepage-college-image {
  height: 150px;
  width: 150px;
}

.portfolio-main-title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.portfolio-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-paragraph {
  border-left-style: solid;
  border-left-color: var(--portfolio-navbar-background-color);
  border-left-width: 5px;

  padding: 10px;

  margin-bottom: 20px;

  animation-duration: 1s;
  animation-name: animate-paragraph-entrance;
  animation-fill-mode: backwards;
}

.portfolio-list {
  border-left-style: solid;
  border-left-color: var(--portfolio-navbar-background-color);
  border-left-width: 5px;
  padding-left: 30px;

  animation-duration: 1s;
  animation-name: animate-paragraph-entrance;
  animation-fill-mode: backwards;
}

.portfolio-list li {
  margin-bottom: 10px;
}

@keyframes animate-paragraph-entrance {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.portfolio-project-img {
  max-width: 100%;
  max-height: 200px !important;
  background-color: #282c34;
}

.portfolio-navbar {
  background-color: var(--portfolio-navbar-background-color);
}

.portfolio-footer {
  background-color: var(--portfolio-navbar-background-color);
}

.portfolio-language-rep {
  padding-left: 30px;
  padding-right: 30px;
}

.portfolio-link {
  background-color: transparent;
  color: var(--portfolio-primary-text-color);
}

.portfolio-link:hover {
  background-color: var(--portfolio-secondary-background-color);
  color: var(--portfolio-secondary-text-color);
}

.portfolio-face-img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 10%;

  aspect-ratio: 1;

  border-style: solid;
  border-color: var(--portfolio-navbar-background-color);
  border-width: 5px;
}

.portfolio-academy {
  min-height: 100px;
  max-width: 100%;
  align-items: center;

  animation-duration: 1s;
  animation-name: animate-course-entrance;
  animation-fill-mode: backwards;
}

.portfolio-academy-link {
  color: #ffffff;
  text-decoration: none;
}

.portfolio-academy-link:hover {
  color: #ffffff;
}

.portfolio-academy-logo {
  max-height: 100px;
  max-width: 100%;
}

.portfolio-course-container {
  margin: auto;
}

@keyframes animate-course-entrance {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.portfolio-logo {
  max-height: 100px;
  max-width: 100%;
  margin-right: 100px;
}

.front-body {
  z-index: 1 !important;
}

canvas {
  width: 100%;
  height: 100%;
}